# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/

# Auto generated VS/IDE files
.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS files
.DS_Store
Thumbs.db

# Asset Serialization
*.pidb.meta

# Packages
Packages/manifest.json

# Logs
*.log

# JetBrains Rider
.idea/

# Avoid committing large or generated asset bundles
*.unitypackage
Assets/AssetBundles/
HybridCLRData/
Bundles/
Build/
yoo/
